* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.wrapper {
  background-image: url('../assets/images/desktop/image-header.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.wrapper h1 {
  font-size: 56px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 35px 45px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-left: 45px;
  letter-spacing: -0.128571px;
  font-size: 18px;
}

.navigation .call-to-action {
  background-color: #fff;
  border-radius: 28px;
  padding: 16px 32px;
  color: #24303e;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  font-size: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-arrow-down {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.transform-brand {
  display: flex;
}

.transform-brand .content,
.transform-brand .image {
  flex-basis: 50%;
}

.transform-brand .image img {
  width: 100%;
  height: 100%;
}

.transform-brand .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transform-brand .content .content__inner {
  width: 45%;
}

.content__inner h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
}

.content__inner p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
}

.content__inner a {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Fraunces', serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #24303e;
  position: relative;
}

.content__inner a:after {
  content: '';
  position: absolute;
  top: 70%;
  left: 0;
  background: #fad400;
  width: 100%;
  height: 10px;
  opacity: 0.25;
  border-radius: 28px;
  z-index: -1;
  transition: opacity 0.5s linear;
}

.content__inner a:hover:after {
  opacity: 1;
}
